node_modules/
bower_components/
coverage/
www
.sass-cache
tmp/
*.exe
*.7z
*.zip
*.DS_Store
*.db
/public/
/docs/
/server-logs/
/uploads/
/upload/
releases/
release/
dist/
dist-dev/
dist-bin/
dist-upgrade/
dist-pkg/
dist-func/
dist-func-doc/
dist-*/
docs/
build/
build-dev/
cdk.out/
.cache/
.logs/
dumps/
dump/
db-dumps/
temp/
temps/
www/
test0/
deploy/
license/
*.accdb
*.env
*.gz
tool/
src-admin-nuxt/
tempDir/
.webpack/
.serverless/
_serverless-ws/
dist-change-tenant/
aws-config.json
#
!.vscode/*.json
#
mongodb-control/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
extract-package/output/
